.btn-primary{
  border: 0;
  // background: $primary-gradient;
  background-image: $primary-gradient;

  &:hover{
    // background-color: darken($btn-primary, 5%);
    box-shadow: $primary-shadow;
  }
  
}
