.card{
  border: 0;
  box-shadow: $primary-shadow;

  &-header,
  &-controls{
    padding: .75rem 1.25rem;
  }

  &-title{
    margin-bottom: 0;
  }

  &-controls{
    background-color: rgba($night, .1);
  }
}