extends layout

block content
  .col-xs-12
    .card
      .card-header
        h1.card-title #{title}
      
      .card-controls
        a.btn.btn-info.btn-sm.icon-left-big.mr-3(href=`/classes`)
      
      .card-body
        form(method='post', action='/classes', enctype='application/json')
          .form-group
            label Teacher
            br
            select.selectpicker(name='teacher', data-live-search="true")
              each teacher in teachers
                option(value = teacher._id) #{teacher.name}
          .form-group
            label Lessons Type
            br
            select.selectpicker(name='type')
              option induvidual
              option semi-induvidual
              option group
          .form-group
            label Language
            br
            select.selectpicker(name='language')
              option English
              option German
              option Polish
              option Japanese
              option Chinese
              option Spanish
              option Italian
              option Turkish
              option Chezh
              option Arabian
          .form-group
            label Language level
            br
            select.selectpicker(name='level')
              option Beginner
              option Elementary
              option Pre-intermediate
              option Intermediate
              option Upper-intermediate
              option Advanced
          .form-group
            label Select students
            br
            select.selectpicker(name='students', data-live-search="true", multiple, data-selected-text-format="count > 2", title="select students for the class...")
              each student in students
                option(value = student._id) #{student.name}
          .form-group
            label Price
            .input-group
              .input-group-prepend
                span.input-group-text ₴
              input#account.form-control(type='number', name='price', placeholder='Amount')
              .input-group-append
                span.input-group-text .00
          .form-group
            label(for='exampleFormControlTextarea1') Short Notes
            textarea#exampleFormControlTextarea1.form-control(rows='4', name='notes')
          input.btn.btn-info(name='submit', type='submit', value='Create class')
          a.btn.btn-default(href='/classes', role='button') Cancel
  
  ul.errors
    if errors
      each error, i in errors
        li.alert.alert-danger #{error.msg}
