extends layout

block content
	h1 Create Lessons
	ul.errors
		if errors
			each error, i in errors
				li.alert.alert-danger #{error.msg}
	.row
		.col-offset-lg-4.col-offset-md-5.col-offset-sm-6.col-lg-4.col-md-5.col-sm-6
			form(method='post', action=`/collaborations?class=${clas}`, enctype='application/json')
				.form-group
					label day
					br
					input(name='date', type='date')
				.form-group
					label since
					br
					input(name='since', type='time', value='9:30')
				.form-group
					label until
					br
					input(name='until', type='time', value='9:30')
				.form-group
					label Room
					br
					input(name='room', type='number')
				input.btn.btn-primary.pull-right(name='submit', type='submit', value='Create lessons')
				a.btn.btn-default.pull-right(href='/classes', role='button') Cancel