extends layout

block content
  .col-12
    .card
      .card-header
        h1.card-title Calendar
        .card-subtitle
          | Better than a thousand days of diligent study is one day with a great teacher
      .card-body
        h1 Calendar
      .card-body
        //- p #{JSON.stringify(events, null, 2)}
        #calendar(data-events= events, data-resources= resources)
