extends layout

block content
  .col-md-10.offset-md-1
    .card
      .card-body
        h1.card-title Member area
        .card-subtitle.mb-3 Welcome to the member area, #{user.name}!

        if users
          ol
            each user, i in users
              li #{user.name}
