extends layout

block content
	h1 Login
	p Please login below
	.row
		.col-offset-lg-4.col-offset-md-5.col-offset-sm-6.col-lg-4.col-md-5.col-sm-6
			form(method='post', action='/users/login')
				.form-group
					label Email
					input.form-control(type='email', name='email', placeholder='Enter Email')
				.form-group
					label Password
					input.form-control(type='password', name='password', placeholder='Enter password')
				input.btn.btn-default(name='submit', type='submit', value='Login')
