extends layout

block content
  .col-md-12
    .card
      .card-header
        h1.card-title #{title}

      .card-controls
        a.btn.btn-info.btn-sm.icon-left-big.mr-3(href=`/teachers`)
        a.btn.btn-info.btn-sm(href=`/teachers/${teacher._id}/edit`, role='button')
          | Edit Teacher
            
      .card-body
        - var teacherData = {'Email': teacher.email, 'Phone': teacher.phone, 'Coeficient': teacher.coeficient}
        ul.student-info__list
          each k, v in teacherData
            li
              b
                = v
              = ': ' + k
