.footer{
  display: flex;
  justify-content: center;
  align-items: center;

  padding: {
    top: 15px;
    bottom: 15px;
  }

  color: $snow;

  background-color: $night;

  .copyright{
    background-color: rgba($night, .6);
  }
}
