* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif; 
  -ms-text-size-adjust: 100%; 
  -webkit-text-size-adjust: 100%;
}

body{
  margin: 0;
  overflow-x: hidden;
  
  font: {
    size: 14px;
    family: $primary-font;
  }
  color: $primary-text-color;
  background-color: $bg-color;
}

// root
#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// main layout wrapper
.main{
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;

  margin-top: -37px;
  padding-bottom: 30px;
}

ol, ul {
  margin: 0;
  padding: 0 0 0 15px;
}

textarea {
  resize: none;
}
