* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif; 
  -ms-text-size-adjust: 100%; 
  -webkit-text-size-adjust: 100%;
}

body{
  margin: 0;
  overflow-x: hidden;
  
  color: $primary-text-color;
  font: {
    size: 16px;
    family: $primary-font;
  }
  background-color: $bg-color;
}

// root
#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// main layout wrapper
.main{
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}
