.fc-event {
  border-color: $primary-color;
  background-color: #fff !important;
  font-size: 14px;

  box-shadow: 0 2px 0 rgba(90,97,105,.11), 0 4px 8px rgba(90,97,105,.12), 0 10px 10px rgba(90,97,105,.06), 0 7px 70px rgba(90,97,105,.1);

  .fc-bg {
    opacity: 1;
  }
  .fc-time {
    font-size: 11px;
  }
}
